<div class="container">
    <div class="col-md-6 col-sm-offset-3">
        <h2>Vertical (basik) form</h2>
        <form>
            <div class="form-group">
                <label for="studentName">Student Name: </label>
                <input type="text" class="form-control" id="studentName" ng-model="studentName" placeholder="Enter student name" name="studentName">
            </div>
            <button  class="btn btn-default" ng-click="onFormSubmit()">Submit</button>
            <button class="btn btn-default" ng-click="onFormSubmitAjax()">Submit Ajax</button>
        </form>
    </div>
</div>